1 - Inicialmente iremos preparar o ambiente, definindo o diretório onde nosso código será desenvolvido. Para este diretório iremos copiar o arquivo nomes_aleatorios.txt.
Após, em nosso script Python, devemos importar as bibliotecas necessárias:
    
    from pyspark.sql import SparkSession
    from pyspark import SparkContext, SQLContext
    spark = SparkSession \

                .builder \
                .master("local[*]")\
                .appName("Exercicio Intro") \
                .getOrCreate()

Nesta etapa, adicione código para ler o arquivo nomes_aleatorios.txt através do comando spark.read.csv. Carregue-o para dentro de um dataframe chamado df_nomes e, por fim, liste algumas linhas através do método show. Exemplo: df_nomes.show(5)

In [2]:
from pyspark.sql import SparkSession

# Criando a Spark Session
spark = SparkSession \
    .builder \
    .master("local[*]") \
    .appName("Exercicio Intro") \
    .getOrCreate()

# Lendo o arquivo nomes_aleatorios.txt e carregando-o em um DataFrame
caminho_arquivo = "../Gerar_Massa_de_Dados/nomes_aleatorios.txt"
df_nomes = spark.read.text(caminho_arquivo)

# Mostrando as primeiras 5 linhas do DataFrame
df_nomes.show(5)

+----------------+
|           value|
+----------------+
|  Frances Bennet|
|   Jamie Russell|
|  Edward Kistler|
|   Sheila Maurer|
|Donald Golightly|
+----------------+
only showing top 5 rows

2 - No Python, é possível acessar uma coluna de um objeto dataframe pelo atributo (por exemplo df_nomes.nome) ou por índice (df_nomes['nome']). Enquanto a primeira forma é conveniente para a exploração de dados interativos, você deve usar o formato de índice, pois caso algum nome de coluna não esteja de acordo seu código irá falhar.

Como não informamos no momento da leitura do arquivo, o Spark não identificou o Schema por padrão e definiu todas as colunas como string. Para ver o Schema, use o método df_nomes.printSchema().

Nesta etapa, será necessário adicionar código para renomear a coluna para Nomes, imprimir o esquema e mostrar 10 linhas do dataframe.

3 - Ao dataframe (df_nomes), adicione nova coluna chamada Escolaridade e atribua para cada linha um dos três valores de forma aleatória: Fundamental, Medio ou Superior.

Para esta etapa, evite usar funções de iteração, como por exemplo: for, while, entre outras. Dê preferência aos métodos oferecidos para próprio Spark.

4 - Ao dataframe (df_nomes), adicione nova coluna chamada Pais e atribua para cada linha o nome de um dos 13 países da América do Sul, de forma aleatória.

Para esta etapa, evite usar funções de iteração, como por exemplo: for, while, entre outras. Dê preferência aos métodos oferecidos para próprio Spark.

In [56]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import rand, when
from random import randint

# Criando a Spark Session
spark = SparkSession \
    .builder \
    .master("local[*]") \
    .appName("Exercicio Intro") \
    .getOrCreate()

# 1- Lendo o arquivo nomes_aleatorios.txt e carregando-o em um DataFrame
caminho_arquivo = "../Gerar_Massa_de_Dados/nomes_aleatorios.txt"
df_nomes = spark.read.text(caminho_arquivo)

# 2- Renomeando a coluna para 'Nomes'
df_nomes = df_nomes.withColumnRenamed("value", "Nomes")

# 3 - Adicionando a nova coluna 'Escolaridade' com valores aleatórios
df_nomes = df_nomes.withColumn('Escolaridade', when(rand() < 0.33, 'Fundamental')
                                          .when(rand() < 0.66, 'Médio')
                                          .otherwise('Superior'))

# 4 - Lista de países da América do Sul
paises_am_sul = ["Brasil", "Argentina", "Chile", "Colômbia", "Equador", "Paraguai", "Uruguai", "Bolívia", "Peru", "Venezuela", "Suriname", "Guiana", "Guiana Francesa"]
                       
# Adicionando a nova coluna com valores aleatórios
df_nomes = df_nomes.withColumn("Pais", 
    when(rand() < 0.077, paises_am_sul[0])
    .when(rand() < 0.154, paises_am_sul[1])
    .when(rand() < 0.231, paises_am_sul[2])
    .when(rand() < 0.308, paises_am_sul[3])
    .when(rand() < 0.385, paises_am_sul[4])
    .when(rand() < 0.462, paises_am_sul[5])
    .when(rand() < 0.539, paises_am_sul[6])
    .when(rand() < 0.616, paises_am_sul[7])
    .when(rand() < 0.693, paises_am_sul[8])
    .when(rand() < 0.770, paises_am_sul[9])
    .when(rand() < 0.847, paises_am_sul[10])
    .when(rand() < 0.924, paises_am_sul[11])
    .otherwise(paises_am_sul[12]))

# Mostrando 10 linhas do DataFrame após a adição da nova coluna
df_nomes.show(10)

+-----------------+------------+---------+
|            Nomes|Escolaridade|     Pais|
+-----------------+------------+---------+
|   Frances Bennet|    Superior|  Equador|
|    Jamie Russell| Fundamental|  Bolívia|
|   Edward Kistler|    Superior|    Chile|
|    Sheila Maurer|       Médio|   Brasil|
| Donald Golightly|       Médio| Paraguai|
|       David Gray|       Médio|    Chile|
|      Joy Bennett|       Médio| Paraguai|
|      Paul Kriese|       Médio|  Equador|
|Berniece Ornellas|       Médio|     Peru|
|    Brian Farrell|    Superior|Argentina|
+-----------------+------------+---------+
only showing top 10 rows

5 - Ao dataframe (df_nomes), adicione nova coluna chamada AnoNascimento e atribua para cada linha um valor de ano entre 1945 e 2010, de forma aleatória. 


Para esta etapa, evite usar funções de iteração, como por exemplo: for, while, entre outras. Dê preferência aos métodos oferecidos para próprio Spark

In [57]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import rand, lit

# Criando a Spark Session
spark = SparkSession \
    .builder \
    .master("local[*]") \
    .appName("Exercicio Intro") \
    .getOrCreate()

# 1- Lendo o arquivo nomes_aleatorios.txt e carregando-o em um DataFrame
caminho_arquivo = "../Gerar_Massa_de_Dados/nomes_aleatorios.txt"
df_nomes = spark.read.text(caminho_arquivo)

# 2- Renomeando a coluna para 'Nomes'
df_nomes = df_nomes.withColumnRenamed("value", "Nomes")

# 3 - Adicionando a nova coluna 'Escolaridade' com valores aleatórios
df_nomes = df_nomes.withColumn('Escolaridade', when(rand() < 0.33, 'Fundamental')
                                          .when(rand() < 0.66, 'Médio')
                                          .otherwise('Superior'))

# 4 - Lista de países da América do Sul
paises_am_sul = ["Brasil", "Argentina", "Chile", "Colômbia", "Equador", "Paraguai", "Uruguai", "Bolívia", "Peru", "Venezuela", "Suriname", "Guiana", "Guiana Francesa"]
                       
# Adicionando a nova coluna com valores aleatórios
df_nomes = df_nomes.withColumn("Pais", 
    when(rand() < 0.077, paises_am_sul[0])
    .when(rand() < 0.154, paises_am_sul[1])
    .when(rand() < 0.231, paises_am_sul[2])
    .when(rand() < 0.308, paises_am_sul[3])
    .when(rand() < 0.385, paises_am_sul[4])
    .when(rand() < 0.462, paises_am_sul[5])
    .when(rand() < 0.539, paises_am_sul[6])
    .when(rand() < 0.616, paises_am_sul[7])
    .when(rand() < 0.693, paises_am_sul[8])
    .when(rand() < 0.770, paises_am_sul[9])
    .when(rand() < 0.847, paises_am_sul[10])
    .when(rand() < 0.924, paises_am_sul[11])
    .otherwise(paises_am_sul[12]))

# 5 - Adicionando a nova coluna 'AnoNascimento' com valores aleatórios entre 1945 e 2010
df_nomes = df_nomes.withColumn("AnoNascimento", (lit(1945) + (rand() * (2010 - 1945))).cast("int"))


# Mostrando 10 linhas do DataFrame após a adição da nova coluna
df_nomes.show(10, truncate=False)

+-----------------+------------+---------+-------------+
|Nomes            |Escolaridade|Pais     |AnoNascimento|
+-----------------+------------+---------+-------------+
|Frances Bennet   |Médio       |Colômbia |1995         |
|Jamie Russell    |Médio       |Colômbia |1961         |
|Edward Kistler   |Fundamental |Argentina|1976         |
|Sheila Maurer    |Médio       |Bolívia  |1961         |
|Donald Golightly |Médio       |Colômbia |1970         |
|David Gray       |Fundamental |Equador  |1948         |
|Joy Bennett      |Fundamental |Chile    |2003         |
|Paul Kriese      |Médio       |Paraguai |1968         |
|Berniece Ornellas|Superior    |Chile    |1994         |
|Brian Farrell    |Médio       |Equador  |1974         |
+-----------------+------------+---------+-------------+
only showing top 10 rows

6 - Usando o método select do dataframe (df_nomes), selecione as pessoas que nasceram neste século. Armazene o resultado em outro dataframe chamado df_select e mostre 10 nomes deste.

In [43]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import rand, lit

# Criando a Spark Session
spark = SparkSession \
    .builder \
    .master("local[*]") \
    .appName("Exercicio Intro") \
    .getOrCreate()

# 1- Lendo o arquivo nomes_aleatorios.txt e carregando-o em um DataFrame
caminho_arquivo = "../Gerar_Massa_de_Dados/nomes_aleatorios.txt"
df_nomes = spark.read.text(caminho_arquivo)

# 2- Renomeando a coluna para 'Nomes'
df_nomes = df_nomes.withColumnRenamed("value", "Nomes")

# 3 - Adicionando a nova coluna 'Escolaridade' com valores aleatórios
df_nomes = df_nomes.withColumn('Escolaridade', when(rand() < 0.33, 'Fundamental')
                                          .when(rand() < 0.66, 'Médio')
                                          .otherwise('Superior'))

# 4 - Lista de países da América do Sul
paises_am_sul = ["Brasil", "Argentina", "Chile", "Colômbia", "Equador", "Paraguai", "Uruguai", "Bolívia", "Peru", "Venezuela", "Suriname", "Guiana", "Guiana Francesa"]
                       
# Adicionando a nova coluna com valores aleatórios
df_nomes = df_nomes.withColumn("Pais", 
    when(rand() < 0.077, paises_am_sul[0])
    .when(rand() < 0.154, paises_am_sul[1])
    .when(rand() < 0.231, paises_am_sul[2])
    .when(rand() < 0.308, paises_am_sul[3])
    .when(rand() < 0.385, paises_am_sul[4])
    .when(rand() < 0.462, paises_am_sul[5])
    .when(rand() < 0.539, paises_am_sul[6])
    .when(rand() < 0.616, paises_am_sul[7])
    .when(rand() < 0.693, paises_am_sul[8])
    .when(rand() < 0.770, paises_am_sul[9])
    .when(rand() < 0.847, paises_am_sul[10])
    .when(rand() < 0.924, paises_am_sul[11])
    .otherwise(paises_am_sul[12]))

# 5 - Adicionando a nova coluna 'AnoNascimento' com valores aleatórios entre 1945 e 2010
df_nomes = df_nomes.withColumn("AnoNascimento", (lit(1945) + (rand() * (2010 - 1945))).cast("int"))

# 6 - Filtrando as pessoas que nasceram neste século (após o ano 2000)
df_select = df_nomes.filter(df_nomes.AnoNascimento >= 2000)

# Selecionando apenas as colunas desejadas
df_select = df_select.select("Nomes", "AnoNascimento", "Pais")

# Mostrando 10 linhas do DataFrame df_select
df_select.show(10, truncate=False)

+----------------+-------------+---------+
|Nomes           |AnoNascimento|Pais     |
+----------------+-------------+---------+
|Tracy Herring   |2004         |Chile    |
|Page Marthe     |2008         |Argentina|
|Gabriel Colyer  |2003         |Argentina|
|Jerry Chynoweth |2002         |Chile    |
|Michael Agnew   |2008         |Chile    |
|George Miller   |2005         |Colômbia |
|Juliet Liles    |2007         |Colômbia |
|Maurice Blizzard|2001         |Brasil   |
|Shelia Ceja     |2004         |Chile    |
|Joyce Bennett   |2007         |Equador  |
+----------------+-------------+---------+
only showing top 10 rows

Usando Spark SQL repita o processo da Pergunta 6. Lembre-se que, para trabalharmos com SparkSQL, precisamos registrar uma tabela temporária e depois executar o comando SQL. Abaixo um exemplo de como executar comandos SQL com SparkSQL:



df_nomes.createOrReplaceTempView ("pessoas")

spark.sql("select * from pessoas").show()

In [48]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import rand, lit

# Criando a Spark Session
spark = SparkSession \
    .builder \
    .master("local[*]") \
    .appName("Exercicio Intro") \
    .getOrCreate()

# 1- Lendo o arquivo nomes_aleatorios.txt e carregando-o em um DataFrame
caminho_arquivo = "../Gerar_Massa_de_Dados/nomes_aleatorios.txt"
df_nomes = spark.read.text(caminho_arquivo)

# 2- Renomeando a coluna para 'Nomes'
df_nomes = df_nomes.withColumnRenamed("value", "Nomes")

# 3 - Adicionando a nova coluna 'Escolaridade' com valores aleatórios
df_nomes = df_nomes.withColumn('Escolaridade', when(rand() < 0.33, 'Fundamental')
                                          .when(rand() < 0.66, 'Médio')
                                          .otherwise('Superior'))

# 4 - Lista de países da América do Sul
paises_am_sul = ["Brasil", "Argentina", "Chile", "Colômbia", "Equador", "Paraguai", "Uruguai", "Bolívia", "Peru", "Venezuela", "Suriname", "Guiana", "Guiana Francesa"]
                       
# Adicionando a nova coluna com valores aleatórios
df_nomes = df_nomes.withColumn("Pais", 
    when(rand() < 0.077, paises_am_sul[0])
    .when(rand() < 0.154, paises_am_sul[1])
    .when(rand() < 0.231, paises_am_sul[2])
    .when(rand() < 0.308, paises_am_sul[3])
    .when(rand() < 0.385, paises_am_sul[4])
    .when(rand() < 0.462, paises_am_sul[5])
    .when(rand() < 0.539, paises_am_sul[6])
    .when(rand() < 0.616, paises_am_sul[7])
    .when(rand() < 0.693, paises_am_sul[8])
    .when(rand() < 0.770, paises_am_sul[9])
    .when(rand() < 0.847, paises_am_sul[10])
    .when(rand() < 0.924, paises_am_sul[11])
    .otherwise(paises_am_sul[12]))

# 5 - Adicionando a nova coluna 'AnoNascimento' com valores aleatórios entre 1945 e 2010
df_nomes = df_nomes.withColumn("AnoNascimento", (lit(1945) + (rand() * (2010 - 1945))).cast("int"))

# 6 - Filtrando as pessoas que nasceram neste século (após o ano 2000)
# df_select = df_nomes.filter(df_nomes.AnoNascimento >= 2000)

# 7 - Registrar o DataFrame como uma tabela temporária
df_nomes.createOrReplaceTempView("pessoas")

# Executar consultas SQL usando Spark SQL
consulta_sql = """
    SELECT Nomes, AnoNascimento, Pais
    FROM pessoas
    WHERE AnoNascimento >= 2000
"""

# Criar um novo DataFrame com os resultados da consulta SQL
df_select = spark.sql(consulta_sql)

# Mostrar 10 linhas do DataFrame df_select
df_select.show(10, truncate=False)

+---------------+-------------+---------+
|Nomes          |AnoNascimento|Pais     |
+---------------+-------------+---------+
|Frances Bennet |2004         |Paraguai |
|Edward Kistler |2003         |Chile    |
|Sheila Maurer  |2004         |Equador  |
|Ernest Hulet   |2004         |Uruguai  |
|Wilfredo Grant |2008         |Uruguai  |
|Rosie Lovelady |2004         |Uruguai  |
|Lynne Dustman  |2001         |Argentina|
|Jason Martin   |2000         |Colômbia |
|Bernard Holmes |2009         |Chile    |
|Elizabeth Crowe|2007         |Chile    |
+---------------+-------------+---------+
only showing top 10 rows

8 - Usando o método select do Dataframe df_nomes, Conte o número de pessoas que são da geração Millennials (nascidos entre 1980 e 1994) no Dataset.

In [50]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import rand, lit


# Criando a Spark Session
spark = SparkSession \
    .builder \
    .master("local[*]") \
    .appName("Exercicio Intro") \
    .getOrCreate()

# 1- Lendo o arquivo nomes_aleatorios.txt e carregando-o em um DataFrame
caminho_arquivo = "../Gerar_Massa_de_Dados/nomes_aleatorios.txt"
df_nomes = spark.read.text(caminho_arquivo)

# 2- Renomeando a coluna para 'Nomes'
df_nomes = df_nomes.withColumnRenamed("value", "Nomes")

# 3 - Adicionando a nova coluna 'Escolaridade' com valores aleatórios
df_nomes = df_nomes.withColumn('Escolaridade', when(rand() < 0.33, 'Fundamental')
                                          .when(rand() < 0.66, 'Médio')
                                          .otherwise('Superior'))

# 4 - Lista de países da América do Sul
paises_am_sul = ["Brasil", "Argentina", "Chile", "Colômbia", "Equador", "Paraguai", "Uruguai", "Bolívia", "Peru", "Venezuela", "Suriname", "Guiana", "Guiana Francesa"]
                       
# Adicionando a nova coluna com valores aleatórios
df_nomes = df_nomes.withColumn("Pais", 
    when(rand() < 0.077, paises_am_sul[0])
    .when(rand() < 0.154, paises_am_sul[1])
    .when(rand() < 0.231, paises_am_sul[2])
    .when(rand() < 0.308, paises_am_sul[3])
    .when(rand() < 0.385, paises_am_sul[4])
    .when(rand() < 0.462, paises_am_sul[5])
    .when(rand() < 0.539, paises_am_sul[6])
    .when(rand() < 0.616, paises_am_sul[7])
    .when(rand() < 0.693, paises_am_sul[8])
    .when(rand() < 0.770, paises_am_sul[9])
    .when(rand() < 0.847, paises_am_sul[10])
    .when(rand() < 0.924, paises_am_sul[11])
    .otherwise(paises_am_sul[12]))

# 5 - Adicionando a nova coluna 'AnoNascimento' com valores aleatórios entre 1945 e 2010
df_nomes = df_nomes.withColumn("AnoNascimento", (lit(1945) + (rand() * (2010 - 1945))).cast("int"))

# 6 - Filtrando as pessoas que nasceram neste século (após o ano 2000)
# df_select = df_nomes.filter(df_nomes.AnoNascimento >= 2000)

# 7 - Registrar o DataFrame como uma tabela temporária
# df_nomes.createOrReplaceTempView("pessoas")

# Executar consultas SQL usando Spark SQL
# consulta_sql = """
#    SELECT Nomes, AnoNascimento, Pais
#    FROM pessoas
#    WHERE AnoNascimento >= 2000
#"""

# Criar um novo DataFrame com os resultados da consulta SQL
# df_select = spark.sql(consulta_sql)

# 8 - Selecionar as pessoas da geração Millennials
df_millennials = df_nomes.select("Nomes", "AnoNascimento") \
                         .filter((df_nomes.AnoNascimento >= 1980) & (df_nomes.AnoNascimento <= 1994))

# Contar o número de pessoas da geração Millennials
count_millennials = df_millennials.count()

# Mostrar o resultado
print(f"Número de pessoas da geração Millennials: {count_millennials}")

Número de pessoas da geração Millennials: 2309295

In [52]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import rand, lit


# Criando a Spark Session
spark = SparkSession \
    .builder \
    .master("local[*]") \
    .appName("Exercicio Intro") \
    .getOrCreate()

# 1- Lendo o arquivo nomes_aleatorios.txt e carregando-o em um DataFrame
caminho_arquivo = "../Gerar_Massa_de_Dados/nomes_aleatorios.txt"
df_nomes = spark.read.text(caminho_arquivo)
#--------------------------------------------------------------------------------------
# 2- Renomeando a coluna para 'Nomes'
df_nomes = df_nomes.withColumnRenamed("value", "Nomes")
#--------------------------------------------------------------------------------------
# 3 - Adicionando a nova coluna 'Escolaridade' com valores aleatórios
df_nomes = df_nomes.withColumn('Escolaridade', when(rand() < 0.33, 'Fundamental')
                                          .when(rand() < 0.66, 'Médio')
                                          .otherwise('Superior'))
#--------------------------------------------------------------------------------------
# 4 - Lista de países da América do Sul
paises_am_sul = ["Brasil", "Argentina", "Chile", "Colômbia", "Equador", "Paraguai", "Uruguai", "Bolívia", "Peru", "Venezuela", "Suriname", "Guiana", "Guiana Francesa"]
                       
# Adicionando a nova coluna com valores aleatórios
df_nomes = df_nomes.withColumn("Pais", 
    when(rand() < 0.077, paises_am_sul[0])
    .when(rand() < 0.154, paises_am_sul[1])
    .when(rand() < 0.231, paises_am_sul[2])
    .when(rand() < 0.308, paises_am_sul[3])
    .when(rand() < 0.385, paises_am_sul[4])
    .when(rand() < 0.462, paises_am_sul[5])
    .when(rand() < 0.539, paises_am_sul[6])
    .when(rand() < 0.616, paises_am_sul[7])
    .when(rand() < 0.693, paises_am_sul[8])
    .when(rand() < 0.770, paises_am_sul[9])
    .when(rand() < 0.847, paises_am_sul[10])
    .when(rand() < 0.924, paises_am_sul[11])
    .otherwise(paises_am_sul[12]))
#--------------------------------------------------------------------------------------
# 5 - Adicionando a nova coluna 'AnoNascimento' com valores aleatórios entre 1945 e 2010
df_nomes = df_nomes.withColumn("AnoNascimento", (lit(1945) + (rand() * (2010 - 1945))).cast("int"))

#--------------------------------------------------------------------------------------
# 6 - Filtrando as pessoas que nasceram neste século (após o ano 2000)
# df_select = df_nomes.filter(df_nomes.AnoNascimento >= 2000)

#--------------------------------------------------------------------------------------
# 9 - Selecionar as pessoas da geração Millennials utilizando Spark SQL

# Registrar o DataFrame como uma tabela temporária
df_nomes.createOrReplaceTempView("pessoas")

# Executar consulta SQL para contar pessoas da geração Millennials
consulta_sql_millennials = """
    SELECT COUNT(*) AS NumeroMillennials
    FROM pessoas
    WHERE AnoNascimento BETWEEN 1980 AND 1994
"""

# Criar um novo DataFrame com os resultados da consulta SQL
df_resultado_millennials = spark.sql(consulta_sql_millennials)

# Mostra o resultado como uma tabela
df_resultado_millennials.show()

+-----------------+
|NumeroMillennials|
+-----------------+
|          2307604|
+-----------------+

10 - Usando Spark SQL, obtenha a quantidade de pessoas de cada país para uma das gerações abaixo.
Armazene o resultado em um novo dataframe e depois mostre todas as linhas em ordem crescente de Pais, Geração e Quantidade

- Baby Boomers – nascidos entre 1944 e 1964;
- Geração X – nascidos entre 1965 e 1979;4
- Millennials (Geração Y) – nascidos entre 1980 e 1994;
- Geração Z – nascidos entre 1995 e 2015.

In [53]:

from pyspark.sql import SparkSession
from pyspark.sql.functions import rand, lit


# Criando a Spark Session
spark = SparkSession \
    .builder \
    .master("local[*]") \
    .appName("Exercicio Intro") \
    .getOrCreate()

# Lendo o arquivo nomes_aleatorios.txt e carregando-o em um DataFrame
caminho_arquivo = "../Gerar_Massa_de_Dados/nomes_aleatorios.txt"
df_nomes = spark.read.text(caminho_arquivo)

# 1- Lendo o arquivo nomes_aleatorios.txt e carregando-o em um DataFrame
caminho_arquivo = "../Gerar_Massa_de_Dados/nomes_aleatorios.txt"
df_nomes = spark.read.text(caminho_arquivo)
#--------------------------------------------------------------------------------------
# 2- Renomeando a coluna para 'Nomes'
df_nomes = df_nomes.withColumnRenamed("value", "Nomes")
#--------------------------------------------------------------------------------------
# 3 - Adicionando a nova coluna 'Escolaridade' com valores aleatórios
df_nomes = df_nomes.withColumn('Escolaridade', when(rand() < 0.33, 'Fundamental')
                                          .when(rand() < 0.66, 'Médio')
                                          .otherwise('Superior'))
#--------------------------------------------------------------------------------------
# 4 - Lista de países da América do Sul
paises_am_sul = ["Brasil", "Argentina", "Chile", "Colômbia", "Equador", "Paraguai", "Uruguai", "Bolívia", "Peru", "Venezuela", "Suriname", "Guiana", "Guiana Francesa"]
                       
# Adicionando a nova coluna com valores aleatórios
df_nomes = df_nomes.withColumn("Pais", 
    when(rand() < 0.077, paises_am_sul[0])
    .when(rand() < 0.154, paises_am_sul[1])
    .when(rand() < 0.231, paises_am_sul[2])
    .when(rand() < 0.308, paises_am_sul[3])
    .when(rand() < 0.385, paises_am_sul[4])
    .when(rand() < 0.462, paises_am_sul[5])
    .when(rand() < 0.539, paises_am_sul[6])
    .when(rand() < 0.616, paises_am_sul[7])
    .when(rand() < 0.693, paises_am_sul[8])
    .when(rand() < 0.770, paises_am_sul[9])
    .when(rand() < 0.847, paises_am_sul[10])
    .when(rand() < 0.924, paises_am_sul[11])
    .otherwise(paises_am_sul[12]))

# 10 - Selecionar as pessoas da geração Millennials utilizando Spark SQL

# Registrar o DataFrame como uma tabela temporária
df_nomes.createOrReplaceTempView("pessoas")

# Executar consultas SQL para contar pessoas de cada geração por país
consulta_sql_boomers = """
    SELECT Pais, 'Baby Boomers' AS Geracao, COUNT(*) AS Quantidade
    FROM pessoas
    WHERE AnoNascimento BETWEEN 1944 AND 1964
    GROUP BY Pais
"""

consulta_sql_gen_x = """
    SELECT Pais, 'Geração X' AS Geracao, COUNT(*) AS Quantidade
    FROM pessoas
    WHERE AnoNascimento BETWEEN 1965 AND 1979
    GROUP BY Pais
"""

consulta_sql_millennials = """
    SELECT Pais, 'Millennials' AS Geracao, COUNT(*) AS Quantidade
    FROM pessoas
    WHERE AnoNascimento BETWEEN 1980 AND 1994
    GROUP BY Pais
"""

consulta_sql_gen_z = """
    SELECT Pais, 'Geração Z' AS Geracao, COUNT(*) AS Quantidade
    FROM pessoas
    WHERE AnoNascimento BETWEEN 1995 AND 2015
    GROUP BY Pais
"""

# Unir os resultados das consultas em um único DataFrame
df_resultado = spark.sql(consulta_sql_boomers).union(
    spark.sql(consulta_sql_gen_x)).union(
    spark.sql(consulta_sql_millennials)).union(
    spark.sql(consulta_sql_gen_z))

# Mostrar todas as linhas em ordem crescente de Pais, Geração e Quantidade
df_resultado.orderBy("Pais", "Geracao", "Quantidade").show()

+---------+------------+----------+
|     Pais|     Geracao|Quantidade|
+---------+------------+----------+
|Argentina|Baby Boomers|    436864|
|Argentina|   Geração X|    328117|
|Argentina|   Geração Z|    327884|
|Argentina| Millennials|    328477|
|  Bolívia|Baby Boomers|    120298|
|  Bolívia|   Geração X|     89948|
|  Bolívia|   Geração Z|     90121|
|  Bolívia| Millennials|     90157|
|   Brasil|Baby Boomers|    237248|
|   Brasil|   Geração X|    177145|
|   Brasil|   Geração Z|    177853|
|   Brasil| Millennials|    177758|
|    Chile|Baby Boomers|    556070|
|    Chile|   Geração X|    415490|
|    Chile|   Geração Z|    416266|
|    Chile| Millennials|    416593|
| Colômbia|Baby Boomers|    568144|
| Colômbia|   Geração X|    426627|
| Colômbia|   Geração Z|    427443|
| Colômbia| Millennials|    427021|
+---------+------------+----------+
only showing top 20 rows